.page-content-main{
    display: flex;
    width: 100%;
}

.page-body{
    @apply overflow-y-auto flex-1
}

.team-header{
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: "SpaceGrotesk-Bold";
}

.main-banner{
    background: url('../../assets/images/brown-fsae-car-front-view.jpg');
    width: 100%;
    height: auto;
}

.learn-section li{
    font-family: "SpaceGrotesk-SemiBold";
    font-size: 1.4rem;
}

.car-name{
    font-family: "Morydane";
    font-size: 3.5rem;
}