.album-wrapper{
    position: relative;
    display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4); /* semi-transparent white */
  opacity: 0;
}

.album-ref:hover .overlay{
    opacity: 0.75;
}
